.container {
	padding-top: 50px;
	margin: 0 auto;
	width: 500px;

}

h2 {
	margin-top: 15px;
	margin-bottom: 15px;

}

header {
	padding: 20px;
	padding-bottom: 20px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
	background-color: rgba(209, 126, 227, 1);
}

.headerContent {
	margin: 0 auto;
}


.nav_list_contact_logout {
	display: flex;
	justify-content: space-between;
	gap: 20px;

}
.nav_list_register{
	display: flex;
	gap: 20px;
}

.nav_item {
	font-size: 20px;
}

.nav_link {
	color: inherit;
	font-weight: 500;
	font-size: 30px;
	text-decoration: none;
	transition: color 150ms;
	cursor: pointer;

	&.active {
		color: rgba(140, 215, 231, 0.9528186274509804);
	}

	&:hover,
	&:focus {
		color: rgba(140, 215, 231, 0.9528186274509804);
	}
}

.userData {
	display: flex;
	align-items: center;
	gap: 20px;
}

.btnLogout {
	width: 120px;
	height: 30px;
	border-radius: 10px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

.btnLogout:hover,
.btnLogout:focus {
	background-color: rgba(140, 215, 231, 0.9528186274509804);
}

.welcomeText {
	font-size: 30px;
	font-style: italic;
	text-align: center;
	line-height: normal;
}

.mainSection {
	max-width: 450px;
	margin: 0 auto;
	padding: 20px;
}