.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btnRemove {
    width: 70px;
    height: 30px;
}

.btnRemove:hover,
.btnRemove:focus {
    background-color: rgba(209,126,227,1);
    border: none;
}

